
<h2 class="text-center">Details for {{selectedMovie.title}}</h2>
<br>

<label>ID: {{selectedMovie.id}}</label>
<br>
<label>Title: {{selectedMovie.title}}</label>
<br>
<label>Description: {{selectedMovie.description}}</label>
<br>
<label>Genre: {{selectedMovie.genre}}</label>
<br>
<label>Duration: {{selectedMovie.duration}}</label>
<br>
<label>Year of release: {{selectedMovie.yearOfRelease}}</label>
<br>
<label>Director: {{selectedMovie.Director}}</label>
<br>
<label>Date added: {{selectedMovie.dateAdded}}</label>
<br>
<label>Rating: {{selectedMovie.rating}}</label>
<br>
<label>Watched: {{selectedMovie.watched}}</label>
<br>
<br>
<h3>Comments:</h3>

<table class="table table-hover">

    <thead class="thead-dark">
        <tr>
            <th>Id</th>
            <th>Text</th>
            <th>Important</th>
        </tr>
    </thead>


    <tr *ngFor="let c of selectedMovie.comments">
         <td>{{c.id}}</td>
         <td>{{c.text}}</td>
         <td>{{c.important}}</td>
    </tr>
 

</table>

<br>
<button (click)="goBack()">Back</button>


