
<h2 class="text-center">Details for {{selectedMovie.Title}}</h2>
<br>

<label>Id: {{selectedMovie.Id}}</label>
<br>
<label>Title: {{selectedMovie.Title}}</label>
<br>
<label>Description: {{selectedMovie.Description}}</label>
<br>
<label>Genre: {{selectedMovie.Genre}}</label>
<br>
<label>Duration: {{selectedMovie.Duration}}</label>
<br>
<label>Year of release: {{selectedMovie.YearOfRelease}}</label>
<br>
<label>Director: {{selectedMovie.Director}}</label>
<br>
<label>Date added: {{selectedMovie.DateAdded | date: 'yyyy-MM-dd'}}</label>
<br>
<label>Rating: {{selectedMovie.Rating}}</label>
<br>
<label>Watched: {{selectedMovie.Watched}}</label>
<br>
<br>
<h3>Comments:</h3>

<table class="table table-hover">

    <thead class="thead-dark">
        <tr>
            <th>Id</th>
            <th>Text</th>
            <th>Important</th>
        </tr>
    </thead>


    <tr *ngFor="let c of selectedMovie.Comments">
         <td>{{c.Id}}</td>
         <td>{{c.Text}}</td>
         <td>{{c.Important}}</td>
    </tr>
 

</table>

<br>
<button (click)="goBack()">Back</button>


